/* Basic styling */
body {
  margin: 0px 0px 0px 0px;
  font-family: Tahoma;
  text-align: center;
}

/* Navbar container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: black;
  color: white;
}
#navbar {
  cursor: pointer;
}
h1 {
  font-size: 24px;
  color: white;
}
#navbar i {
  color: white;
}
.nav {
  color: blue;
}
.content-body {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: center;
  padding: 0px 20px 0px 20px;
  background-color: #050b2d;
}
.general-row {
  display: flex;
  justify-content: space-between;
}
.card {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 250px;
  border: 2px solid black;
  border-radius: 15px;
  align-items: center;
  padding: 40px;
  background-color: #192f5a;
}
.card img {
  height: 130px;
  width: 130px;
  align-self: center;
}
.card p {
  width: 250px;
  text-align: center;
  font-size: 14px;
  color: white;
}
.general-btn {
  background-color: white;
  border: 1px solid black;
  border-radius: 15px;
  transition: 500ms ease-in-out;
  padding: 10px;
}
.general-btn:hover {
  background-color: black;
  border: 1px solid white;
  border-radius: 15px;
  color: white;
}
/* ABOUT US */
#about-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #050b2d;
  color: white;
}
#floated-div {
  font-size: 24px;
  text-align: left;
  flex: 1;
}
#ndiv {
  font-size: 24px;
  text-align: left;
  flex: 1;
}
.img-side {
  flex: 1;
}
.img-side img {
  height: 350px;
}
